[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/units"]
	path = thirdparty/units
	url = https://github.com/mpusz/units
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/gsl-lite"]
	path = thirdparty/gsl-lite
	url = https://github.com/gsl-lite/gsl-lite.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/https:/github.com/g-truc/glm.git"]
	path = thirdparty/https:/github.com/g-truc/glm.git
	url = https://github.com/google/googletest.git
